/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;

}

.main-content {
    text-align: center;
    margin-top: 20px;
   }

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Style for Camera/video*/
/* #camerawindow {
    width: 320px;
    height: 240px;
    border: 2px solid #ffffff;
    display: block;
    margin-bottom: 15px;
} */